html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper{
    width: 940px;
    margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.visually-hidden:not(focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
  }

  /* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-slab-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
}

/* HEADER */

  .logo a{
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 41px;
    color: #fed136;
    text-decoration: none;
    text-transform: capitalize;
  }

  .logo{
      margin: 0;
      padding: 0;
  }
  
  .site-navigation{
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 65px;
      margin: 0px auto 97px;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 485px;
    flex-wrap: wrap;
  }
  
  .menu a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 41px;
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
    transition: color 200ms linear;
  }

  
  .menu a:hover,
  .menu a:focus {
    color:#fed136;
  }

  /* SERVICES SECTION */

.section-title{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 75px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 19px;
    padding: 0;
  }

.section-description{
    font-family: 'Noto Serif', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: rgb(119, 119, 119);
    text-align: center;
    margin: 0px 0px 78px;
    padding: 0;
}

.services-list{
    list-style: none;
    margin: 0px 0px 123px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
}

.services-item{
    width: 290px;
    text-align: center;
}

.services-item::before{
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(254, 209, 54);
    border-radius: 50%;
    margin: 0 auto;
    padding: 0;
}

.services-item::before :nth-child(1){
    background-image: url(/html-css/module-7/img/icons/Icon-Basket.png);
}

.services-item::before :nth-child(2){
    background-image: url(/html-css/module-7/img/icons/Icon-Laptop.png);
}

.services-item::before :nth-child(3){
    background-image: url(/html-css/module-7/img/icons/Icon-Locked.png);
}


.service-name{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 75px;
    text-transform: capitalize;
    color: rgb(34, 34, 34);
    margin: 0;
    padding: 0;
}

.service-description{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}


  /* font-family: 'Oleo Script', cursive;
  font-family: 'Noto Serif', serif; */



.input-item textarea{
    resize: none;
}
