html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* HEADER */
.entrance a {
  display: inline-block;
}

.login,
.signup {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  line-height: 36px;
  text-align: center;
  width: 92px;
}

.signup {
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.entrance {
  text-align: center;
}

.promo {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;
  min-height: 540px;
  background-color: #000000;
}

.logo h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.logo {
  text-decoration: none;
}
/* END HEADER */


/* SLOGAN WITH BTN*/
.slogan {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.full-slogan {
  font-family: "Roboto", sans serif;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}

.btn-find {
  display: block;
  width: 280px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: none;
  margin: 0 auto;
}

/* .btn {
  text-align: center;
} */
/* END SLOGAN WITH BTN*/


/* SECTION PARTNERS */

.partners-item {
  text-align: center;
}
.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: rgb(51, 51, 51);
  text-align: center;
}

.partners-list {
  list-style: none;
  text-align: center;
}

.partner-photo img {
  border-radius: 50%;
}

.partner-photo {
  display: inline-block;
  position: relative;
}

.partner-photo::after {
  content: "";
  display: block;
  width: 37px;
  height: 37px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}

.tv-icon::after {
  background-color: rgb(255, 78, 80);
  background-image: url(../img/icons/tv.png);
}

.flask-icon::after {
  background-color: rgb(255, 165, 7);
  background-image: url(../img/icons/flask.png);
}

.cup-icon::after {
  background-color: rgb(28, 215, 173);
  background-image: url(../img/icons/cup.png);
}

.fly-icon::after {
  background-color: rgb(78, 115, 219);
  background-image: url(../img/icons/fly.png);
}

.partner-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}

.partner-interests {
  font-family: "Roboto", sans serif;
  font-weight: 300;
  font-size: 14px;
  color: #666666;
  text-align: center;
  margin: 0;
  padding: 0;
}

.btn-more {
  display: block;
  width: 280px;
  height: 40px;
  border: 2px solid rgb(255, 78, 80);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 78, 80);
  margin: 0 auto;
}
/* END SECTION PARTNERS */


/* MEDIA RULES */

@media screen and (min-width: 320px) {
  .site-header {
    padding-top: 20px;
  }

  .entrance {
    margin-bottom: 117px;
  }

  .logo h1 {
    margin: 0;
    padding: 0;
  }

  .logo {
    margin-bottom: 34px;
  }

  .slogan {
    margin-bottom: 20px;
  }

  .full-slogan {
    margin-bottom: 20px;
  }

  .section-title {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
  }

  .partners {
    padding-top: 68px;
  }

  .partners-list {
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
  }

  .partner-photo {
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
  }

  .partners-item {
    margin: 0;
    padding: 0;
  }

  .btn-more {
    margin-bottom: 57px;
  }
}

@media screen and (max-width: 767px) {
  .partners-item:not(:last-child) {
    margin-bottom: 28px;
  }

  .partner-interests {
    max-width: 196px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .partners-item:nth-child(-n + 2) {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .promo {
    min-height: 700px;
  }

  .btn-find {
    width: 226px;
  }

  .site-header {
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 38px;
    margin-bottom: 156px;
  }

  .entrance {
    margin: 0;
    padding: 0;
  }

  .slogan {
    margin-bottom: 40px;
    font-size: 52px;
  }

  .full-slogan {
    width: 100%;
    margin-bottom: 40px;
    font-size: 24px;
  }

  .partners {
    padding-top: 75px;
  }

  .section-title {
    margin-bottom: 34px;
  }

  .partners-list {
    margin-bottom: 40px;
  }

  .partners-item {
    max-width: 236px;
  }

  .btn-more {
    width: 192px;
  }
}

@media screen and (min-width: 992px) {
  .partners-item {
    max-width: 222px;
  }
}
