.banner {
  background-image: linear-gradient(
      $transparent-rose,
      $transparent-yellow
    ),
    url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 1000px;
  margin-bottom: 50px;
  @media
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image: linear-gradient(
      $transparent-rose,
      $transparent-yellow
    ),
    url(../images/banner@2x.jpg);
}
}