html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Site header */

.menu {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  height: 162px;
}

.logo {
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  margin: 0;
  padding-top: 35px;
  float: left;
}

.logo a {
  text-decoration: none;
  color: #555252;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.navigation {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  padding-top: 35px;
  list-style: none;
  float: right;
}

.navigation a {
  text-decoration: none;
  color: #0f0101;
}

.navigation li {
  margin-right: 35px;
  float: left;
}
.navigation li:last-child {
  margin-right: 0px;
}

.navigation-item:hover {
  color: #1abc9c;
}

.navigation-item:focus {
  color: #1abc9c;
}

/* Banner */
.banner{
  position: relative;
  width: 1600px;
  margin: 0 auto;
}

.carousel-right{
  position: absolute;
  top: 245px;
  right: 230px;
  background-color: #1abc9c;
  color: #ffffff;
  border: none;
  font-size: 100px;
  line-height: 11px;
  text-transform: uppercase;
  width: 100px;
  height: 100px;
  text-align: center;
}

  .carousel-left{
    position: absolute;
    top: 245px;
    left: 230px;
    background-color: #1abc9c;
    color: #ffffff;
    border: none;
    font-size: 100px;
    line-height: 11px;
    text-transform: uppercase;
    width: 100px;
    height: 100px;
    text-align: center;
}
.banner h2{
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 82px;
  text-align: center;
}

.banner p{
  position: absolute;
  top: 285px;
  left: 435px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 54px;
  text-align: center;
}

.banner::before{
  position: absolute;
  content: "";
  display: block;
  background-image: linear-gradient(rgb(0, 0, 2), rgb(50, 50, 50));
  width: 1600px;
  height: 600px;
  opacity: 0.522;;
}




/* Products section */

.title {
  margin: 0;
  padding: 0;
  height: 167px;
  text-transform: uppercase;
  color: #515151;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.title::after {
  display: block;
  background-color: rgb(26, 188, 156);
  width: 164px;
  height: 7px;
  margin: 35px auto 0px;
  content: "";
}

.products {
  margin-bottom: 104px;
}

.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  line-height: 40px;
}

.product-item {
  width: 255px;
  float: left;
  margin: 0px 30px 30px 0px;
}

.product-item:hover .product-description {
  background-color: rgb(26, 188, 156);
}

.product-item:focus .product-description {
  background-color: rgb(26, 188, 156);
}

.product-item:nth-child(4n) {
  margin-right: 0;
}

.product-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.product-item a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  color: #ffffff;
}

.product-description {
  margin: 0;
  padding: 0;
  background-color: rgb(50, 50, 50);
}

.product-item-name {
  margin: 0;
  padding-left: 12px;
  float: left;
}

.product-item-price {
  float: right;
  background-color: rgba(255, 255, 255, 0.439);
  width: 55px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
}

img {
  background-color: rgb(233, 240, 253);
}

/* Footer */
.designed-by{
  margin: 0;
  padding: 33px 0px;
  background-color: rgb(50, 50, 50);
  height: 90px;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.designed-by a{
  text-decoration: none;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #46bfa9;
}