html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Site header */

.menu {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding-bottom: 32px;
}

.logo {
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  margin: 0;
  padding-top: 35px;
  float: left;
}

.logo a {
  text-decoration: none;
  color: #555252;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.navigation {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  padding-top: 35px;
  list-style: none;
  float: right;
}

.navigation a {
  text-decoration: none;
  color: #0f0101;
}

.navigation li {
  margin-right: 35px;
  float: left;
}
.navigation li:last-child {
  margin-right: 0px;
}

.navigation-item:hover {
  color: #1abc9c;
}

.navigation-item:focus {
  color: #1abc9c;
}

/* Banner */
.banner {
  position: relative;
  margin: 0 auto;
}

.banner img {
  width: 100%;
}

.banner-effects {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner button {
  width: 100px;
  height: 100px;
  background-color: rgba(78, 198, 171, 0.651);
  border: none;
}

.carousel-left {
  float: left;
}

.carousel-right {
  float: right;
}

.carousel-right:hover,
.carousel-right:focus {
  background-color: rgb(78, 198, 171);
}

.carousel-left:hover,
.carousel-left:focus {
  background-color: rgb(78, 198, 171);
}

.carousel-description {
  display: inline-block;
  margin: 0;
  padding-left: 80px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
.banner h2 {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 60px;
  line-height: 82px;
}

.banner p {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 54px;
}

.banner::before {
  position: absolute;
  content: "";
  display: block;
  background-image: linear-gradient(rgb(0, 0, 2), rgb(50, 50, 50));
  width: 100%;
  height: 100%;
  opacity: 0.522;
}

/* Products section */
.products {
  padding: 100px 0px;
  background-color: rgb(233, 240, 253);
  margin: 0 auto;
}

.title {
  margin: 0;
  padding: 0;
  height: 167px;
  text-transform: uppercase;
  color: #515151;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.title::after {
  display: block;
  background-color: rgb(26, 188, 156);
  width: 164px;
  height: 7px;
  margin: 35px auto 0px;
  content: "";
}

.products-list {
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.product-item {
  width: 255px;
  float: left;
  margin: 0px 30px 30px 0px;
}

.product-item:nth-child(4n) {
  margin-right: 0;
}

.product-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.product-item a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  color: #ffffff;
}

.product-description {
  margin: 0;
  padding: 0;
  background-color: rgb(50, 50, 50);
  line-height: 40px;
}

.product-item-name {
  margin: 0;
  padding-left: 12px;
  float: left;
}

.product-item-price {
  float: right;
  background-color: rgba(255, 255, 255, 0.439);
  width: 55px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #ffffff;
}

img {
  background-color: rgb(233, 240, 253);
}

.product-img {
  position: relative;
}

.card-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  outline: 10px solid rgba(255, 255, 255);
  background-color: rgba(0, 0, 0);
  opacity: 0;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 166px;
  opacity: 0;
}

.buttons li {
  margin: 0;
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}

.buttons li:nth-last-child(-n + 2) {
  margin-right: 0;
}
.buttons li:last-child {
  margin-bottom: 0;
}

.card-btn {
  margin: 0;
  padding: 12px;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.cart {
  width: 166px;
  background-color: rgb(50, 50, 50);
}

.card-btn svg {
  width: 26px;
  height: 26px;
}

.card-btn path {
  fill: #ffffff;
}

.card-btn:hover,
.card-btn:focus {
  border: none;
  background-color: rgb(26, 188, 156);
  cursor: pointer;
}

.cart span {
  float: right;
  margin: 0;
  padding: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Opensans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 50px;
}

.cart svg {
  float: left;
}

.product-item:hover .product-description {
  background-color: rgb(26, 188, 156);
}

.product-item:hover {
  cursor: pointer;
}

.product-item:hover .card-overlay {
  opacity: 0.549;
}

.product-item:hover .buttons {
  opacity: 1;
}

/* Footer */
.designed-by {
  margin: 0;
  padding: 33px 0px;
  background-color: rgb(50, 50, 50);
  height: 90px;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.designed-by a {
  text-decoration: none;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #46bfa9;
  cursor: pointer;
}

.visually-hidden:not(focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
