//fonts
$main-font: "Montserrat", sans-serif;
$additional-font: "Roboto", sans-serif;
$cursive-font: "Kaushan Script", cursive;

//font-weight
$thin: 300;
$normal: 400;
$bold: 700;

//font-sizes
$main-fz: 14px;
$additional-fz: 15px;

//colors
$white: rgb(255, 255, 255);
$light: rgb(231, 231, 231);
$grey: #cccccc;
$yellow: rgb(252, 227, 138);
$rose: hsl(0, 83%, 73%);
$light-black: #333333;
$dark-grey: #999999;
$turguoise: rgb(149, 225, 211);
$transparent-rose: rgba(243, 129, 129, 0.9);
$transparent-yellow: rgba(252, 227, 138, 0.9);
